/* ================================================================================================
// 	File Name: style.scss
// 	Description: Style for customization.

// ================================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@font-face {
    font-family: 'Genos';
    src: url(../font/genos/fonts/ttf/Genos-Regular.ttf);
  }
  @font-face {
    font-family: 'Genos-Light';
    src: url(../font/genos/fonts/ttf/Genos-Light.ttf);
  }
  @font-face {
    font-family: 'Silk Serif';
    src: url(../font/silk-serif/Silk\ Serif\ Light.otf);
  }
  @font-face {
    font-family: 'Silk Serif Medium';
    src: url(../font/silk-serif/Silk\ Serif\ Medium.otf);
  }
  .yellow-color{
    color: #FFCB33 !important;
  }
  .grey-bg{
    background-color: #ededed !important;
  }
  .style-logo a{
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #000000;
  }
 .search-container {
    float: right;
    background: #F3F3F3;
  }
  
  .search-container input[type=text] {
    
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background: #F3F3F3;
  }
  
 .search-container button {
    float: right;
    padding: 8px 2px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  .stylish-img img{
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .stylish-name{
    font-family: 'Silk Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }
  .profession{
    font-family: 'Silk Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000
  }
  .social-media-border{
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  .term-policies{
    font-family: 'Genos-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #686868;
  }
  .content-body h1{
    font-family: 'Silk Serif Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
     color: #000000;
  }
  .content-body h3{
    font-family: 'Silk Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.quick-link img{
    border: 1px solid #D9D9D9;
    border-radius:50% ;
    background: #D9D9D9;
    padding: 5px;
    height: 45px;
}
#carouselExampleIndicators img{
  width: 415px;
}
#carouselExampleIndicators h5{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 104.1%;
color: #FFFFFF;
}
#carouselExampleIndicators p{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 104.1%;
color: #FFFFFF;
}
.carousel-caption button{
  font-family: 'Genos';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 7px;
text-align: center;
color: #000000;
background: #FCFFEB;
border-radius: 3px;
border: transparent;
}
.carousel-item h1{
  position: absolute;
  top: 0;
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 104.1%;
color: #FFFFFF;
}
.raise-bg{
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 267px;
}
.raise-bg h1,.raise-bg-img h1{
  font-family: 'Silk Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 104.1%;
  color: #393939;
}
.raise-bg p, .raise-bg-img p{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 104.1%;
color: #2D2D2D;
}
.raise-bg .btn, .raise-bg-img .btn{
  background: #EDEDED;
border-radius: 2px;
font-family: 'Genos';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;
color: #000000;
}
.raise-bg h2{
  font-family: 'Genos';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
   color: #3D3D3D;
}
.raise-bg h3{
  font-family: 'Genos';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #3D3D3D;
}
.raise-bg h4{
  font-family: 'Genos';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #00A82F;
}
.raise-bg-img img{
  height: 267px;
  /* position: absolute; */
}
.raise-bg-img h1, .raise-bg-img p{
  color: #fff;
}
.text-over-img{
  position: absolute;
  bottom: 0;
}
#inbox{
  background: #FFFDF7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#inbox h1{
  font-family: 'Silk Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 104.1%;
  color: #2B2B2B;
}
#inbox .form-control-borderless {
  border: none;
}
#inbox .form-control{
  background-color: transparent;
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 25px;
color: #7D8FB3;
}

#inbox .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
#inbox h2{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 25px;
color: #7D8FB3;
}
#inbox h6{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
color: #4D5E80;
}
#inbox h4, #inbox h5{
  font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 25px;
color: #29CC39;
}
#inbox h5{
  color: #7D8FB3;
}
#inbox .img-1{
  height: 40px;
  width: 40px;
  border-radius: 5px;
  position: relative;
}
.navigate{
    position: absolute;
    top: -7px;
    color: #fff;
    left: 53px;
    background: #D50000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}
.show-more{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #6B7A99;
flex: none;
order: 0;
flex-grow: 0;
background: #FFFFFF;
border: 2px solid #F5F6F7;
box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
border-radius: 5px;
}
.support{
  font-family: 'Silk Serif' !important;
font-style: normal;
font-weight: 600 !important;
font-size: 13px !important;
line-height: 25px;
color: #7D8FB3 !important;
}
#style-news h1{
  font-family: 'Silk Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}
#home-tab{
  border: 1px solid #F5F6F7;
border-radius: 30px 0px 0px 30px;
}
#Fashion-tab, #Beauty-tab{
  border: 1px solid #F5F6F7;
border-radius: 0px;
}
#Travel-tab{
  border: 1px solid #F5F6F7;
border-radius: 0px 30px 30px 0px;
}
#onePagecarousel img{
  width: 1295px;
  max-width: 100%;
  height: 509px;
  max-height: 100%;
  background: linear-gradient(179.86deg, rgba(255, 255, 255, 0) 22%, rgba(0, 0, 0, 0.7) 99.88%);
}
#onePagecarousel .carousel-control-prev {
  right: 80px;
  position: absolute;
  top: 33px;
}

#onePagecarousel h1{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 104.1%;
color: #FFFFFF;
}
#onePagecarousel .carousel-caption{
  position: absolute;
  right: 10%;
  bottom: 20px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
#browse-soursing h1{
  font-family: 'Silk Serif';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
color: #000000;
}
#browse-soursing h2{
  font-family: 'Silk Serif';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #7B7B7B;
  display: flex;
  align-items: center;
}
.browse-btn{
  display: flex;
align-items: center;

}
#browse-soursing .browse{
  font-family: 'Genos';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
padding: 8px 0px;
border: transparent;
text-align: center;
color: #000000;
background: #EDEDED;
border-radius: 2px;
}
#browse-soursing .table thead{
  background: #FFFFFF;
/* border-bottom: 1.5px solid #4D4D4D; */
}
#browse-soursing .table thead th{
  font-family: 'Genos';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.table th{
  border: none;
}
#browse-soursing .table tbody td{
  font-family: 'Genos';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
#browse-soursing .table tbody td button{
  background: #00A82F;
border-radius: 2px;
font-family: 'Genos';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;
color: #FFFFFF;
border: transparent;
width: 83px;
height: 19px;
}
.green-color{
  color: #00A82F !important;
}
.blue-color{
color: #0029FF !important;
}
.ticket-btn{
  background: #9D9D9D !important;
}
.dot{
  display: list-item; /* This has to be "list-item"                                          */
    margin-left : 1em;
    color: #00A82F;
}
#browse-soursing .table th, .table td{
  border-top:1px solid #E2E2E2  !important;
  background: #FFFFFF !important;
  border-bottom: 1.5px solid #E2E2E2 !important;
}
#browse-soursing .table{
  border: 1px solid #E2E2E2;
  border-radius: 5px;
}
.show-bg img{
  height: 30px;
  width: 30px;
  background: #FFFFFF;
  border: 2px solid #F5F6F7;
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 100px;
  padding: 5px;
}
#browse-soursing .show{
  font-family: 'Silk Serif';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #7B7B7B;
  }
  #notice-board span{
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    font-size: 9.45299px;
    line-height: 11px;
    text-align: center;
    color: #000000;
  }
  #notice-board h1{
    font-family: 'Silk Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 37.812px;
    line-height: 104.1%;
    color: #282828;
  }
  #notice-board img{
    height: 100px;
    width: 100px;
  }
  #notice-board p{
    font-family: 'Silk Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 15.755px;
    line-height: 104.1%;
    color: #282828;
    }
    #board-detail .row{
      background-color: #fff;
    }
    #board-detail span{
      font-family: 'Silk Serif';
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 104.1%;
      color: #282828;
    }
    #board-detail h1{
      font-family: 'Silk Serif';
      font-style: normal;
      font-weight: 600;
      font-size: 15.755px;
      line-height: 104.1%;
      color: #282828;
    }
    #board-detail p{
      font-family: 'Silk Serif';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 104.1%;
      color: #282828;
    }
     .raise-bg_1{
      background: #FAFAFA;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      height: auto !important;
    }
    #refer-client{
      background-image: url(../images/refer-client-bg.svg);
      background-size: cover;
      background-position: top;
    }
    #refer-client h1{
      font-family: 'Silk Serif';
      font-style: normal;
      font-weight: 400;
      font-size: 37.812px;
      line-height: 104.1%;
      color: #FFFFFF;
    }
    #refer-client p{
      font-family: 'Silk Serif';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 132.3%;
      color: #FFFFFF;
    }
    #refer-client .refer-btn{
      font-family: 'Genos';
      font-style: normal;
      font-weight: 400;
      font-size: 15.2632px;
      line-height: 18px;
      text-align: center;
      color: #000000;
      background: #EDEDED;
      border-radius: 3.05263px;
      border: transparent;
    }
    #refer-client h2{
      font-family: 'Silk Serif';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 132.3%;
      text-align: right;
      text-decoration-line: underline;
      color: #FFFFFF;
    }
    #footer{
      background: #172625;
    }
    #footer h1{
      font-family: 'Genos';
      font-style: normal;
      font-weight: 400;
      font-size: 48.9px;
      line-height: 59px;
      text-align: center;
      letter-spacing: 0.04em;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    #footer a, #footer h5{
      font-family: 'Genos';
      font-style: normal;
      font-weight: 300;
      font-size: 16.3px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
      color: #FFFFFF;
    }
    #footer h5{
      font-weight: 500;
    }
    #footer p{
      font-family: 'Genos';
      font-style: normal;
      font-weight: 300;
      font-size: 24.45px;
      line-height: 29px;
      text-align: center;
      width: 75%;
      letter-spacing: 0.04em;
      color: #FFFFFF;
    }
    .talk-stylish{
      font-family: 'Genos';
      font-style: normal;
      font-weight: 300;
      font-size: 16.3px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
      color: #FFFFFF;
      background: #172625;
      border: 1px solid #fff;
    }
    .brands img{
      border: 1px solid #D9D9D9;
      border-radius:5px ;
      background: #F8F8F8;
      padding: 5px;
      height: 45px;
  }
  hr{
    margin: 20px 50px;
border: 0.509375px solid #FFFFFF;
  }
  #footer h4{
    font-family: 'Genos';
    font-style: normal;
    font-weight: 300;
    font-size: 14.2625px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
  #twoPagecarousel img{
    width: 415px;
    height: 351px;
    left: 0px;
    top: 0px;
    background: linear-gradient(179.86deg, rgba(255, 255, 255, 0) 22%, rgba(0, 0, 0, 0.7) 99.88%);
      }
      #twoPagecarousel .carousel-caption h5{
        font-family: 'Silk Serif';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 104.1%;
        color: #FFFFFF;
      }
      #twoPagecarousel .carousel-caption  p{
        font-family: 'Silk Serif';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 104.1%;
        color: #FFFFFF;
      }